USE [master]
GO
/****** Object:  Database [dbcliente]    Script Date: 23/02/2022 11:23:42 a. m. ******/
CREATE DATABASE [dbcliente]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbcliente', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbcliente.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbcliente_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbcliente_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbcliente].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbcliente]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 23/02/2022 11:23:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 23/02/2022 11:23:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Identificacion] [nvarchar](20) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[TelefonoOtros] [nvarchar](20) NULL,
	[Direccion] [nvarchar](100) NOT NULL,
	[FechaNacimiento] [datetime2](7) NOT NULL,
	[FechaAfiliacion] [datetime2](7) NOT NULL,
	[Sexo] [nvarchar](1) NOT NULL,
	[ResenaPersonal] [nvarchar](200) NOT NULL,
	[Imagen] [nvarchar](max) NULL,
	[Intereses] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configuraciones]    Script Date: 23/02/2022 11:23:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuraciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](40) NOT NULL,
	[valor] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_Configuraciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220223025922_nue', N'5.0.7')
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Configuraciones] ON 

INSERT [dbo].[Configuraciones] ([Id], [descripcion], [valor]) VALUES (1, N'Servicios', N's')
INSERT [dbo].[Configuraciones] ([Id], [descripcion], [valor]) VALUES (2, N'Investigacion', N'i')
INSERT [dbo].[Configuraciones] ([Id], [descripcion], [valor]) VALUES (3, N'Servicios', N's')
SET IDENTITY_INSERT [dbo].[Configuraciones] OFF
GO
USE [master]
GO
